* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #D7DADC;
}

.game-container {
    max-width: 500px;
    margin: auto;
}

.game-container .header {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding-block: 4px;
    
    border-bottom: 1px solid #3a3a3c ;
    pointer-events: none;
}

#grid {
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#grid .row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#grid .cell {
    width: 53px;
    height: 53px;
    border : 1px solid #3a3a3c;

    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

  
.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0 auto 8px;
  touch-action: manipulation;
} 

  
.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: #D7DADC;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row .spacer-half {
  background-color: transparent;
  flex-grow: 0.5;
}